@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Lato,sans-serif;
    background-color: #fafafa;
    font-weight: 300;
    color: #3a3a3a;
}

/* Global */

h1,h2 {
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
}

.info {
    font-size: 380%;
    color: #292F36;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,80%);
}
#container {
    display: block;
    justify-content: center;
    width: 100%;
    background-color: #292F36;;
    border-bottom: 2px solid #7C4E29;
    max-height: 20%;
    position: fixed;
    z-index: 800;
    top: 0;
    overflow: hidden;
    
}


/* header,logo and navigation */

#container #logo-container {
    float: left;
    clear: left;
    width: 20%;
    height: 80px;
}
#container #logo-container #logo img {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    margin-left: 50px;
}
#container nav {
    float: right;
    clear: right;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

#container nav ul {
    list-style-type: none;
}

#container nav li {
    display: inline-block;
    margin-right: 18px;
}
#container nav li::after {
    content: '';
    display: block;
    width: 0%;
    margin: auto;
    height: 2px;
    background-color: #D5DCF9;
    transition: 0.5s ease;
}
#container nav li:hover::after {
    width: 100%;
}
#container nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #D5DCF9;
}
#container nav a:hover {
    border-bottom: 1px solid #D5DCF9;
    color: #D5DCF9;
}
.active {
    border-bottom: 1px solid #D5DCF9;
}

/* main image section */
#main-image {
    width: 100%;
    height: 600px;
    display: block;
    position: relative;
}
#main-image #tailor-image img {
    width: 100%;
    z-index: -10;
    margin-top: 3%;
    height: auto;
}

/* welcome text section */
#welcome {
    width: 60%;
    height: auto;
    font-size: 120%;
    font-weight: bold;
    word-wrap: break-word;
    background-color: rgba(217,188,169, 0.7);
    text-align: center;
    padding: 10px 10px;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    z-index: 100;
    top: 80%;
}
.mytext {
    width: 100%;
    margin: 0 auto;
    padding: 5px 5px;
    word-wrap: break-word;
    border: 1px solid transparent;
}
#welcome > h1 {
    font-size: 280%;
    font-weight: bold;
}
#welcome > h2 {
    font-size: 60%;
}
#welcome > h1,h2 {
    color: #292F36;
    
}

/* works section */
#works {
    display: block;
    margin-top: 25%;
    margin-left: 4%;
    margin-right: 4%;
}
#works  p {
    font-weight: bold;
    font-size: 110%;
    color: #292F36;
}
#works h2,h3 {
    font-size: 110%;
    color: #292F36;
    transform: translate(0);
    text-align: center;
}
.content {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 20px;
}

.content > h2 {
    text-transform: uppercase;
    font-size: 150%;
    color: #292F36; 
    margin-bottom: 15px;
    margin-top: 35px;
    text-align: center;
}
.card {
    text-align: center;
    padding: 30px 30px;
    border: 1px solid #7C4E29;
    display: block;
    height: 150px;
    position: relative;
    background-color: rgba(217,188,169, 0.7);   
}
.card i {
    font-size: 200%;
    font-weight: bold;
    color: #292F36;
}

.card > h3 {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 10px;
}
.card:hover {
    height: auto;
    border: 2px solid #7C4E29;
    transition: all ease-in 3s;
    transform: scale(1);
}

#left-content {
    width:33%;
    float:left;
}

#right-content {
    float: right;
    width: 33%;
}
#center-content {
    width: 33%;
    margin: 0 auto;
}
.card .text{
    opacity: 0;
    transition: 0.5s;
}
.card .text:hover{
    opacity: 1;
}
.text {
    text-align: center;
    font-size: 75%;
    font-weight: bolder;
}

#sayings {
    width: 100%;
    display: block;
    margin-left: 4%;
    margin-right: 4%;  
}

.design {
    text-align: center;
    padding: 10px 10px;
    border: 1px solid transparent;
    display: block;
    height: 250px; 
    position: relative;
    background-color: rgba(217,188,169, 0.6);
    box-shadow: 0 0 10px rgba(217,188,169, 0.6);
    opacity: 1;
}
#person1 {
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#person2 {
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#person3 {
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#person4 {
    display: inline-block;
    vertical-align: top;
    width: 23%;
}

.persons span {
    font-size: 80%;
    font-weight: bold;
}
.customer {
    font-size: 110%;
    font-weight: bold;
    color: #7C4E29;
}
#client1,#client2,#client3,#client4 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
#client1 {
    background-image: url('../images/person1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
#client2 {
    background-image: url('../images/person2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
#client3 {
    background-image: url('../images/person3.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
#client4 {
    background-image: url('../images/person4.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* buisness hours */
#buisness-hours {
    width: 100%;
    margin-top: 10px;
    transform: translate(0);
    padding-top: 15px;
    align-items: center; 
    margin-left: 4%;
    margin-right: 4%; 
}
#times {
    padding: 10px 10px;
    margin-top: 10px;
    width: 40%;
    background-color: rgba(217,188,169, 0.7);
    box-shadow: 0 0 10px rgba(217,188,169, 0.6);
    height: 300px;
    float: left;
    clear: left;
}
#times > h2 {
    text-align: left;
    font-size: 140%;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    color: #292F36;
}
#times p {
    text-align: left;
    display: block;
    font-weight: 400;
    line-height: 28px;
    color: #292F36;
    margin-left: 10px;
    margin-top: 10px;
}


#deviz {
    float: right;
    clear: right;
    margin-top: 10px;
    padding: 10px 10px;
    width: 60%;
    height: 300px;
    background-color: #292F36;
    box-shadow: 0 0 10px rgba(217,188,169, 0.6);
    background-image: url('../images/lamad.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
/* footer */
#foot {
    clear: both;
    display:block;
    max-height: 170px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
#foot #copy {
    height: 40px;
    background-color: #292F36;

}
#foot p {
    font-weight: bold;
    font-size: 110%;
    color: #D5DCF9;
    text-align: center;
    margin-bottom: 30px;
    padding: 5px 5px;
}

/* move to top icon */
#to-top {
    text-decoration: none;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10000;
}
#to-top > span {
    width: 52px;
    height: 52px;
    border-radius: 52px;
    text-decoration: none;
    line-height: 52px;
    background-color: rgba(217,188,169, 0.7);
    border: 2px solid transparent;
    text-align: center;
}
#to-top > span:hover {
    background-color: transparent;
}
#to-top  i {
    color: #292F36;
    font-size: 250%;
    
    
}
.move_to_top {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
#off {
    visibility: hidden;
    
}
/* social icons */

.social-links {
    text-align: center;
}
.social-links > li {
    display: inline;
}
.social-links i {
    font-size: 160%;
    color: #292F36;
    margin:  1%;
    padding: 5%;
}

/* about page */
#about {
    width: 100%;
    align-items: center;
   margin-top: 400px;
}

#about .content h2 {
    font-size: 180%;
    font-weight: bold;
    text-align: justify;
}
#how-we-started {
    width: 50%;
    height: auto;
    float: left;
    clear: both;
    margin: 0 auto;
    padding: 8px 8px;
    line-height: 1.6;
    font-size: 1.2em;
    margin-bottom: 50px; 
}

#how-we-started p::first-letter {
    text-transform: capitalize;
    font-size: 110%;
    font-weight: bold;
}

#group {
    width: 50%;
    height: auto;
    float: right;
    margin-bottom: 50px;
}
#group img {
    width: 100%;
    height: auto;

}
/* newsletter section */
#newsletter {
    clear: both;
    width: 100%;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 100px;
}
#news {
    height: 150px;
    margin-top:15%;
    background-color: rgba(217,188,169, 0.7);
    margin-left: 5%;
    margin-right: 5%;
}
#news form input {
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    color: #292F36;
}
#news form button {
    margin-left: 45%;
    margin-right: 45%;
    margin-top:18px;
    border: 1px solid #fafafa;
    background-color: #292F36;
    color: #D5DCF9;
    border-radius: 20px;
    font-size:120%;
    text-transform: uppercase;
    padding: 10px 20px;
}
#news form button:hover {
    background-color: #D5DCF9;
    color: #292F36;
}
#news h3 {
    font-size: 130%;
    font-weight: bold;
    color: #292F36;
    margin-top: 5px;
    letter-spacing: 4px;
}

/* services page */
#services {
    width: 100%;
    margin-top: 450px;
    margin-left: 1%;
    margin-right: 1%;
}
#dress-type {
    margin-top: 420px;
    background-color: #fafafa;
    margin-bottom: 50px;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: center;
}

#wedding-dress,#prom-dress,#pageant-dress,#suits {
    position: relative;
    width: 23%;
    display: inline-block;
    height: 250px;
    margin-right: 12px;

}
#wedding-dress {
    background-image: url('../images/wedding_dress.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#prom-dress {
    background-image: url('../images/prom_dress.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#pageant-dress {
    background-image: url('../images/pageant_dress.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#suits {
    background-image: url('../images/men_suit1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.title {
    position:absolute;
    bottom: -30px;
    text-align: center;
    font-size: 110%;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292F36;
}

#our-services {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    height: 300px;
    background-color: transparent;
}


#newly-married{
    float: left;
    clear: both;
    width: 50%;
    height: auto;
}
#newly-married img {
    width: 100%;
    height: auto;
}
#service-detail {
    float: right;
    width: 50%;
    height: auto;
    margin-left: 5px;
    padding-right: 5px;
   
}
/* accordion menu */
.accordion {
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(217,188,169, 0.6);
}
.accordion-label, .accordion-content{
    padding: 14px 20px;
}
.accordion-label{
    display: block;
    color: #292F36;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s;
}
.accordion-label:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.accordion-content{
    background: white;
    line-height: 1.6;
    font-size: 1.2em;
    display: none;
}
.accordion div #alteration{
    display: none;
}
#alteration:checked ~ .accordion-content{
    display: block;
}
.accordion div #how{
    display: none;
}
#how:checked ~ .accordion-content{
    display: block;

}
.accordion div #cost{
    display: none;
}
#cost:checked ~ .accordion-content{
    display: block;
}
.accordion div #fittings{
    display: none;
}
#fittings:checked ~ .accordion-content{
    display: block;
} 



/* contact page */
#contact-page {
    width: 100%;
    align-items: center;
    margin-top: 250px;
}




#contact-form {
    float: left;
    width: 55%;
    max-height: 550px;
    border-radius: 10px;
    margin-top: 330px;
    margin-left: 8px;
    padding: 5px 5px;
    margin-bottom: 0;
}

#contact-form form label {
    font-size: 120%;
    font-weight: 400;
    color: #292F36;
    line-height: 28px;
    margin-left: 10px;
    margin-bottom: 15px;
}


#contact {
    float: right;
    clear: right;
    width: 40%;
    margin-top: 330px;
    padding: 10px 5px;
}
#contact p i {
    color: #292F36;
}

#contact h2 {
    text-align: left;
    font-size: 180%;
    font-weight: bolder;
    color: #292F36;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 15px;
}
#contact p {
    text-align: left;
    letter-spacing: 2px;
    margin-top: 15px;
    padding: 15px 15px;
    color: #292F36;
    font-size: 110%;
    font-weight: bolder;
}  

.text-input {
    background-color: #D5DCF9;
    color: #292F36;
    width:85%;
    height:40px;
    line-height: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 2px solid #292F36;
    border-radius:4px;
}
.text-input:hover {
    background-color: #292F36;
    color: #D5DCF9;
}

#contact-form textarea {
    width: 85%;
    margin-left: 10px;
    background-color: #D5DCF9;
    border: 2px solid #292F36;
    border-radius: 4px;
}

#contact-form textarea:hover {
    background-color: #292F36;
    color: #D5DCF9;
}

.btn {
    margin-top:20px;
    margin-bottom: 370px;
    margin-left: 10px;
    border-radius: 6px;
    padding:15px 32px;
    text-align:center;
    font-size:120%;
    background-color: #292F36;
    color: #D5DCF9;
    display:block;
}
.btn:hover {
    background-color: #D5DCF9;
    color: #292F36;
}


/* google map */
#map {
    clear: both;
    width: 100%;
    /* margin: 0 auto; */
    align-items: center;
    margin-bottom: 20px;
}
#map-wrapper {
    height: 600px;
    width: 100%;

}
#map-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
}
#map-wrapper iframe {
 width: 100%;
 height: 100%;
 border: 0;
}

/* media queries */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #container {
        max-width: 1870px;
        
    }
    #container #logo-container #logo img {
        margin-left: 80px;
    }
    #welcome {
        top: 90%;
    }
    #works {
        margin-top: 40%; 
    }
    #sayings {
        margin-top: 100px; 
    }
    
} 
/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 993px) and (max-width: 1199px) {
    #container {
        max-width: 1024px;
        
    }
    #container #logo-container #logo img {
        margin-left: 60px;
    }
     /* welcome */
     #welcome {
        height: auto;
        top: 70%;
        /* font-size: 90%; */
    }
    #welcome > h1 {
        font-size: 180%;
    }
    #welcome  h2 {
        font-size: 80%;
    }
    .design {
        height: 300px;
    }
  

}

/* Medium devices (landscape tablets, 768px and up to 992px) */
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* global */
    .info {
        font-size: 250%;
        top: 30%;
        justify-content: center;
    }
    .content  h2 {
        text-align: center;
    }
    #container #logo-container #logo img {
        margin-left: 30px;
    }
    #container nav {
        float: left;
        margin-top: 25px;
        margin-right: -150px;
    }
    #container nav li {
        margin-right: 0;
        margin-bottom: 2px;
        margin-left: -5px;
    }
    #container nav a {
        font-size: 65%;
        padding: 2px 8px;
    }
    /* welcome */
    #welcome {
        height: auto;
        top: 70%;
    }
    #welcome > h1 {
        font-size: 150%;
    }
    #welcome  h2 {
        font-size: 70%;
    }
    /* works */
    #works {
        margin-bottom: 15px;
    }
    #left-content,#right-content {
        width: 100%;
        padding: 0;
        float: left;
        margin-bottom: 10px;
    }
    #center-content {
        float: left;
        clear: both;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    .card i {
        padding-top: 10px;
    }
    /* what people say */
    .content h2 {
        float: left;
        clear: both;
    }
    #person1,#person2,#person3,#person4 {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }
     /* buisness hours */
     #times,#deviz {
        width: 100%;
        float: left;
    }
    /* bug fix */
    .content #times  > h2 {
        font-size: 90%;  
    }
    /* bug fix */
    .content #times > div {
        margin-top: 50px;
    }
    /* about page */
    #how-we-started {
        width: 100%;
        float: left;
        text-align: center;
        padding: 5px 5px;
        margin-bottom: 25px;
    }
    #group {
        width:100%;
        float: left;
    }
   

    /* contact page */
    #contact,#contact-form {
        float: left;
        width: 100%;
    }
    #contact-form {
        margin-top: -45px;
    }
    #contact {
        margin-top: -5px;
    }
    .text-input {
        width: 80%;
    }
    #contact-form textarea {
        width: 80%;
    }
    /* service page */
    #wedding-dress,#prom-dress {
        width: 46%;
        margin-bottom: 50px;
    }
    #pageant-dress,#suits {
        width: 46%;
        float: left;
        margin-bottom: 50px;
    }
    #newly-married {
        width: 100%;
        margin-bottom: 30px;
    }
    #service-details {
        float: left;
        width: 100%;
        margin-left: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .accordion {
        width: 100%;
    }
    
}


/* Medium devices (landscape tablets, 768px and below) */
@media screen and (max-width: 767px) {
     /* global */
     .info {
        font-size: 200%;
        top: 40%;
        justify-content: center;
    }
    /* header & navigation */
    #container #logo-container #logo img {
      
        margin-left: 10px;
    }
    #container nav {
        float: left;
        margin-top: 15px;
        margin-right: -80px;
    }
    #container nav li {
        margin-right: 0;
        margin-bottom: 2px;
        margin-left: -5px;
    }
    #container nav a {
        font-size: 40%;
        padding: 1px 5px;
    }
    #welcome {
        width: 60%;
        height: 40%;
        top: 20%;
    }
    #welcome > h1 {
        font-size: 150%;
    }
    #welcome  h2 {
        font-size: 55%;
    }
    /* works */
   
    #works {
        margin-top: -180px;
        
    }
    #left-content,#right-content {
        width: 100%;
        padding: 0;
        float: left;
        margin-bottom: 10px;
    }
    #center-content {
        float: left;
        clear: both;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    .card i {
        font-size: 150%;
        font-weight: bold;
        color: #292F36;
        padding-top: 10px;
    }
    #person1,#person2,#person3,#person4 {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }
    /* buisness hours */
    #times,#deviz {
        width: 100%;
        float: left;
    }
    #foot p {
        font-weight: bold;
        font-size: 90%;
        color: #292F36;
        text-align: center;
    }
    /* about page */
    #about {
        margin-top: -150px;
    }
    #how-we-started {
        width: 100%;
        float: left;
        text-align: center;
        padding: 5px 5px;
        /* margin-top: -50px; */
    }
    #group {
        width:100%;
        float: left;
        /* margin: 0 auto; */
        align-items: center;
    }
    /* news letter */
    #news {
        height: 100px;
    }
    #news h3 {
        font-size: 90%;
    }
    #news form input {
        width: 60%;
        height: 30px;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 5px;
        font-size: 70%;
        
    }
    #news form button {
        margin-left: 40%;
        margin-right: 50%;
        margin-top:5px;
        border-radius: 10px;
        font-size:80%;
        padding: 5px 10px;
    }

    
     /* service page */
     #wedding-dress,#prom-dress {
        width: 46%;
        margin-bottom: 50px;
    }
    #pageant-dress,#suits {
        width: 46%;
        float: left;
        margin-bottom: 50px;
    }
    #newly-married {
        width: 100%;
        margin-bottom: 30px;
    }
    #service-details {
        float: left;
        width: 100%;
        margin-left: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .accordion {
        width: 100%;
    }

    /* contact page */
    .info {
        top: 10%;
        left: 50%;
    }
    #contact,#contact-form {
        float: left;
        width: 100%;
        clear: both;
        
    }
    #contact-form {
        margin-top: -250px;
    }
    #contact {
        margin-top: -5px;
    }
    .text-input {
        width: 80%;
    }
    #contact-form textarea {
        width: 80%;
    }
    #map {
        margin-bottom: 50px;
    }
}
/* Super Extra Small devices  */

@media screen and (max-width: 360px) {
    #container #logo img {
        width: 42%;
    }
    
    #welcome {
        width: 60%;
        height: 35%;
        top: 20%;
        font-size: 70%;
    }
   
     /* about page */
     
     #how-we-started {
        width: 100%;
        float: left;
        text-align: center;
        padding: 5px 5px;
        margin-bottom: 25px;
    }
    #about .content h2 {
        text-align: right;
    }
    #how-we-started > p {
        text-align: left;
        margin-right: -70px;
        margin-left: 20px;
    }
    
    #group {
        width:100%;
        float: left;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }
    
    /* news letter */
    #news {
        height: 100px;
    }
    #news h2 {
        font-size: 90%;
    }

     /* service page */
     #wedding-dress,#prom-dress,#pageant-dress,#suits {
        float: left;
        width: 100%;
        margin-bottom: 50px;
    }
    .content {
        margin-left: 1%;
        margin-right: 1%;
        padding: 3px 3px;
    }
    #newly-married {
        width: 100%;
        margin-bottom: 30px;
    }
    #service-details {
        float: left;
        width: 100%;
        margin-left: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .accordion {
        width: 100%;
    }

     /* contact page */
     #contact,#contact-form {
        float: left;
        width: 100%;
    }
    .text-input {
        width: 80%;
    }
    #contact-form textarea {
        width: 80%;
    }


    #foot p {
        font-size: 60%;
        margin-bottom: 3px;
    }
}